.home {
  background: #040407;
}
.fixed-header {
  background-color: rgba(255, 255, 255, 0) !important;
  // background: transparent !important;
  // box-shadow: none !important;
  backdrop-filter: blur(6px);
  z-index: 999999;
  padding: 20px 0;
  .modile-enter-app-box {
    border-top: 1px solid #edeef1;
    padding: 1rem 0;
  }
  a > .moblie-menu-text {
    color: #ffffff;
    padding: 0.75rem 0;
  }
  a {
    display: flex;
    align-items: center;
  }
  a > .MuiTypography-h6 {
    color: #ffffff;
    transition: color 0.2s ease-in-out;
    margin-left: 3rem;
    &:hover {
      color: #ccd2d4;
    }
  }
  a > .header-company_logo {
    margin-left: 3rem;
  }
  .header-btn {
    background-color: #002f23;
    border-radius: 10px;
    border: 1px solid #25edbc;
    color: #fff;
    font-weight: bold;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    &:hover {
      background-color: #25edbc;
    }
  }
  .menu-icon {
    font-size: 2rem;
    margin-left: 2rem;
    color: #777E91;
  }
  .menu-icon-close {
    width: 2em;
    color: #25edbc;
    margin-left: 2rem;
  }
  .top_btnbox {
    width: 204px;
    height: 44px;
    border-radius: 50px;
    button {
      border: none;
      outline: none;
      background: none;
      width: 50%;
      cursor: pointer;
    }
    .referral_btn {
      background: linear-gradient(225deg, #3772ff 14.89%, #3772ff 85.85%);
      color: #fff;
      border-radius: 50px 0 0 50px;
    }
    .wallet_btn {
      color: #485470;
      background: #fff;
      border-radius: 0px 50px 50px 0px;
    }
  }
}
.header-logo {
  width: 100px;
  height: 40px;
  object-fit: contain;
  box-sizing: border-box;
}
#menu-appbar {
  a > .MuiTypography-body1 {
    color: #000;
    &:hover {
      color: #000;
    }
  }
}

.bottom {
  // min-height: 100vh;
  // padding-top: 10vh;
  position: relative;
  padding-bottom: 5vh;
  overflow: hidden;
  z-index: 1;
  border-top: 1px solid #353945;
  margin-top: 20px;
  .top_cont {
    display: flex;
    border-bottom: 1px solid #353945;
    .left_first {
      padding-top: 80px;
    }
    .left_second {
      margin-left: 86px;
      padding-right: 120px;
      border-right: 1px solid #353945;
      padding-top: 80px;
      display: flex;
      flex-direction: column;
      a {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 24px;
        color: #777e91;
      }
      .concact {
        font-weight: 700;
        font-size: 14px;
        line-height: 12px;
        margin-bottom: 30px;
        color: #e6e8ec;
      }
    }
    .last_left {
      padding-right: 0;
      border-right: none;
      .newsletter {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;

        color: #e6e8ec;
      }
      .input_box {
        display: flex;
        justify-content: space-between;
        height: 48px;
        width: 230px;
        border-radius: 50px;
        border: 2px solid #353945;
        align-items: center;
        padding-right: 10px;
        .go_bg {
          width: 32px;
          height: 32px;
          background: url("../../assets/images/Small.png") no-repeat center;
        }
        input {
          padding-left: 10px;
          border: none;
          background: none;
          color: #fcfcfc;
        }
      }
    }
  }
  .bottom_cont {
    display: flex;
    color: #fcfcfc;
    justify-content: space-between;
    margin-top: 27px;
  }
}
.isMobile {
  .fixed-header {
    padding: 0;
  }
  .bottom {
    // padding-top: 7vh;
    padding: 0 32px;
    box-sizing: border-box;
    border: none;
    // padding-bottom: 40px;
    // padding-bottom: 20vh;
    .MuiContainer-root {
      padding-left: 0;
      padding-right: 0;
    }
    .top_cont {
      flex-direction: column;
      border: none;
      .foot_according  {
        background: none;
        box-shadow: none;
        color: #fcfcfc;
        .MuiIconButton-root {
          color: #fcfcfc;
          .MuiIconButton-label {
            .MuiSvgIcon-root {
              color: #777E91;
            }
          }
        }
        .details_container {
          .MuiBox-root {
            width: 100%;
          }
        }
      }
      .left_first {
        padding: 0;
        margin-bottom: 32px;
      }
      .left_second {
        border: none;
        padding-right: 0;
        margin-left: 0;
        padding-top: 32px;
        border-top:1px solid #23262F;
      }
      .last_left {
        border-bottom:1px solid #23262F;
        padding-bottom: 32px;
      }
    }
    .bottom_cont {
      flex-direction: column;
      margin-top: 57px;
      .left_text {
        font-size: 12px;
        color: #777E91;
      }
      .right_con {
        margin-top: 25px;
        .social-row {
          justify-content: flex-start;
          .add_margin {
            margin-left: 0;
            margin-right: 26px;
          }
        }
      }
    }
    .header-left {
      display: block;
      margin-bottom: 1.5rem;
      .header-company_logo {
        margin-left: 0;
      }
    }
    a > .MuiTypography-h6 {
      margin-left: 0;
      // margin-bottom: 1rem;
    }
    .bottom-title {
      font-size: 2rem;
      font-family: "PingFang SC";
      line-height: 2.1rem;
    }
    .social-link {
      .social-row {
        padding: 0;
        justify-content: flex-start;
      }

      .MuiTypography-root {
        color: #fcfcfc;
        transition: 0.2s ease-in-out;
        &:hover {
          // color: #F4D092;
        }
      }
    }
  }
  .headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }
  .headroom--pinned {
    transform: translateY(0%);
  }
  .headroom--unpinned {
    transform: translateY(-100%);
  }
  .logo_img {
    width: 96px;
    height: 121px;
    // margin-top: 200px;
    margin-bottom: 0vh;
  }
}
.is-hide {
  transform: translateY(-100%);
}
[aria-describedby="locales-popper"] {
  z-index: 10000000000000000;
  box-sizing: border-box;
  width: 40px !important;
  padding: 3px !important;
  min-width: 40px !important;
  border-radius: 13px !important;
  border: 1px solid #19dd8b !important;
  background-color: transparent !important;
  transition: background-color 0.2s ease-in-out;
  &.MuiButton-containedSecondary:hover {
    background-color: #25edbc !important;
  }
  .MuiButton-label {
    overflow: hidden;
    width: 32px;
    height: 32px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    & > .MuiSvgIcon-root {
      width: 43px;
      height: 43px;
    }
  }
  &[title="ja"] {
    span.MuiButton-label svg {
      background: url("../../assets/icons/Flag_of_Japan.svg") no-repeat;
      background-size: 48px 32px;
      background-position: center center;
    }
  }
  &[title="th"] {
    span.MuiButton-label svg {
      background: url("../../assets/icons/Flag_of_Thailand.svg") no-repeat;
      background-size: 48px 32px;
      background-position: center center;
    }
  }
  // flag to word

  &[title="en"] {
    & > .MuiButton-label {
      position: relative;
      &:after {
        content: "EN";
        display: inline;
        position: absolute;
        left: 0;
        right: 0;
        color: #fcfcfc;
        font-family: Square;
        font-weight: 500;
      }
      & > svg {
        display: none;
      }
    }
  }

  &[title="ko"] {
    & > .MuiButton-label {
      position: relative;
      &:after {
        content: "KR";
        display: inline;
        position: absolute;
        left: 0;
        right: 0;
        color: #fcfcfc;
        font-family: Square;
        font-weight: 500;
      }
      & > svg {
        display: none;
      }
    }
  }
}
#locales-popper {
  z-index: 100000000000000000;
  span.MuiButton-label {
    padding-top: 2px;
  }
  button.MuiButtonBase-root:nth-child(3) {
    .MuiButton-label {
      svg {
        background: url("../../assets/icons/Flag_of_Japan.svg") no-repeat;
        background-size: 20px 15px;
        background-position: center center;
      }
    }
  }
  button.MuiButtonBase-root:nth-child(4) {
    .MuiButton-label {
      svg {
        background: url("../../assets/icons/Flag_of_Thailand.svg") no-repeat;
        background-size: 20px 15px;
        background-position: center center;
      }
    }
  }
  button.MuiButtonBase-root {
    & > span.MuiButton-label {
      position: relative;
      height: 20px;
      &:before {
        content: "EN";
        display: block;
        height: 20px;
        line-height: 20px;
        top: 0;
        right: 0;
        position: absolute;
        left: 0;
        right: 0;
        color: #ffffff;
        font-family: Square;
        font-weight: 500;
      }
      & > svg {
        display: none;
      }
    }
    &:hover {
      & > span.MuiButton-label {
        &:before {
          color: #3d3d3d;
        }
      }
    }
    &:nth-child(2) {
      & > span.MuiButton-label {
        &:before {
          content: "KR";
        }
      }
    }
  }
  & > .MuiPaper-root {
    background: rgba(225, 225, 225, 0.15);
  }
}
