.block1 {
  width: 100%;
  min-height: 100vh;
  overflow: inherit;
  position: relative;
  color: #fff;
  background: url("../../assets/images/top_bg.png") no-repeat center;
  background-size: cover;
  .box_contianer {
    margin-top: 104px;
    .left {
      width: 544px;
      .mbtc-txt {
        font-size: 64px;
        color: #fcfcfd;
        line-height: 1;
      }
      .add_margin {
        margin-bottom: 50px;
      }
      button {
        width: 174px;
        height: 48px;
        background: #3772ff;
        border-radius: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #fcfcfd;
        margin-top: 30px;
      }
      .bottom_arrow {
        width: 32px;
        height: 32px;
        background: url("../../assets/images/small_circle_button.png") no-repeat center;
        background-size: cover;
        margin-top: 30px;
        cursor: pointer;
      }
    }
    .right {
      width: 599px;
      height: 430px;
      background: url("../../assets/images/top_right.png") no-repeat center;
      background-size: cover;
      position: relative;
      .flight_box {
        width: 262px;
        height: 313px;
        background: url("../../assets/images/flight.png") no-repeat center;
        background-size: cover;
        position: absolute;
        bottom: -78px;
        left: 113px;
      }
    }
  }
}
.block2 {
  min-height: 100vh;
  background: #040407;
  font-family: "PingFang SC";
  overflow: hidden;
  position: relative;
  color: #fcfcfd;
  margin-top: 80px;
  .top_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    p {
      margin: 0;
    }
    .left_box {
      .title {
        font-weight: 700;
        font-size: 48px;
      }
      .content {
        font-size: 14px;
        margin-top: 20px;
        width: 453px;
      }
    }
    .right_box {
      font-size: 16px;
      width: 130px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("../../assets/images/button.png") no-repeat center;
      background-size: cover;
      cursor: pointer;
    }
  }
  .bottom_container {
    margin-top: 55px;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        width: 357px;
        // height: 566px;
        background: url("../../assets/images/nftnav_bg.png") no-repeat center;
        background-size: 100% 100%;
        padding: 12px;
        padding-bottom: 32px;
        box-sizing: border-box;
        .middle_li {
          margin-top: 6px;
          padding: 0 12px;
          display: flex;
          align-items: center;
          .right_middle {
            margin-left: 20px;
            .top_right {
              font-weight: 500;
              font-size: 16px;
            }
            .bottom_right {
              font-weight: 400;
              font-size: 14px;
              color: #777e91;
            }
          }
        }
        .bottom_li {
          margin-top: 15px;
          padding: 0 12px;
          .title_bottom {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 16px;
          }
          .content_bottom {
            font-weight: 500;
            font-size: 30px;
            color: #8dc351;
          }
        }
        .buy_box {
          display: flex;
          justify-content: flex-end;
          margin-top: 32px;
          padding-right: 32px;
          button {
            background: #3772ff;
            border-radius: 90px;
            width: 115px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
            color: #fcfcfd;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.block3 {
  background: #040407;
  font-family: "PingFang SC";
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcfcfd;
  img {
    margin-top: 60px;
  }
}
.other_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  min-height: auto;
  padding-bottom: 0;
  .top_container {
    .left_box {
      .content {
        width: 232px;
      }
    }
  }
  .bottom_container {
    background: #18191d;
    border: 0.767568px solid rgba(255, 255, 255, 0.3);
    border-radius: 9px;
    width: 100%;
    padding: 40px;
    margin-top: 40px;
    box-sizing: border-box;
    .top_word {
      .first {
        font-size: 13px;
        color: #e6e8ec;
      }
      .second {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #fcfcfd;
        .cont {
          margin-left: 8px;
          color: #58bd7d;
        }
      }
      .third {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #777e91;
      }
    }
    .center_content {
      margin-top: 40px;
      background: #23262f;
      border-radius: 16px;
      padding: 40px 0;
      padding-bottom: 12px;
      .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        padding: 0 32px;
      }
      .second_line {
        display: flex;
        margin-top: 32px;
        padding: 0 32px;
        .title_second {
          font-weight: 700;
          font-size: 12px;
          line-height: 12px;
        }
        .left {
          flex: 1;
          &:first-child {
            margin-right: 16px;
          }
          .input_box {
            margin-top: 12px;
            // background: #353945;
            // border-radius: 12px;
            height: 48px;
            // padding-left: 16px;
            display: flex;
            align-items: center;
            .MuiFormControl-root {
              width: 100%;
              background: #353945;
              border-radius: 12px;
              height: 100%;

              .MuiInputBase-root {
                height: 100%;
                padding-left: 16px;
              }
              .Mui-focused {
                border: 1px solid #58bd7d;
                border-radius: 12px;
              }
            }
            .MuiInput-underline:before {
              border-bottom: none;
              transition: none;
            }
            .MuiInput-underline::after {
              border-bottom: none;
            }
            .MuiInputBase-root {
              color: #fff;
            }
            .add_icon {
              .MuiInputBase-root {
                padding-left: 52px;
                .MuiInputBase-inputMarginDense {
                  padding-top: 8px;
                }
              }
              &::before {
                content: "";
                width: 24px;
                height: 24px;
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                background: url("../../assets/images/Line.png") no-repeat center;
                background-size: cover;
              }
            }
          }
          .link_box {
            position: relative;
            // padding-left: 51px;
            &::before {
              content: "";
              width: 24px;
              height: 24px;
              position: absolute;
              left: 16px;
              top: 50%;
              transform: translateY(-50%);
              background: url("../../assets/images/Line.png") no-repeat center;
              background-size: cover;
            }
          }
        }
      }
      .third_line {
        display: block;
        .content_box {
          margin-top: 12px;
          padding: 24px 16px;
          background: #353945;
          border-radius: 12px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .left_cont {
            .top_con {
              display: flex;
              .num {
                font-weight: 500;
                font-size: 24px;
                line-height: 24px;
                color: #58bd7d;
              }
              .name {
                color: #fcfcfd;
                margin-left: 52px;
              }
            }
            .add_margin {
              margin-bottom: 24px;
            }
          }
          .right_cont {
            width: 159px;
            height: 48px;
            font-weight: 700;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fcfcfd;
            background: #3772ff;
            border-radius: 90px;
            cursor: pointer;
          }
        }
      }
      .forth_line {
        margin-top: 32px;
        border-top: 1px solid #3d414f;
        padding: 32px;
        padding-bottom: 0;
        .title {
          font-weight: 700;
          font-size: 12px;
          line-height: 12px;
          padding: 0;
        }
        ul {
          margin-top: 32px;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          li {
            width: 174px;
            height: 80px;
            background: #353945;
            backdrop-filter: blur(100px);
            border-radius: 10px;
            padding: 12px 16px;
            margin-right: 26px;
            margin-bottom: 26px;
            .top_cont {
              width: 100%;
              display: flex;
              justify-content: space-between;
              .right {
                color: #8dc351;
                .price_color {
                  color: #58bd7d;
                  margin-right: 4px;
                }
                .quint_color {
                  color: #fcfcfd;
                }
              }
            }
            .bottom_cont {
              margin-top: 8px;
            }
            &:nth-child(5n) {
              margin-right: 0;
            }
          }
        }
      }
    }
    .action_conatiner {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      .waller_box {
        font-size: 16px;
        width: 130px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../../assets/images/button.png") no-repeat center;
        background-size: cover;
        cursor: pointer;
        color: #fcfcfd;
      }
      .confirm_box {
        background: #3772ff;
        border-radius: 90px;
        width: 121.07px;
        height: 48px;
        font-weight: 700;
        font-size: 16px;
        color: #fcfcfd;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .foot_cont {
      margin-top: 50px;
      border-top: 1px solid #3d414f;
      padding-top: 50px;
      .title {
        font-weight: 600;
        font-size: 24px;
      }
      .cont {
        margin-top: 12px;
        font-weight: 500;
        font-size: 14px;
        color: #777e90;
        line-height: 32px;
      }
    }
  }
}
.block4 {
  width: 100%;
  min-height: 100vh;
  overflow: inherit;
  position: relative;
  color: #fff;
  margin-top: 60px;
  .big_title {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }
  .contro {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    text-align: center;
    color: #e6e8ec;
  }
  .content_box {
    ul {
      display: flex;
      justify-content: space-between;
      margin-top: 80px;
      position: relative;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        .top_img {
          margin-bottom: 80px;
          position: relative;
        }
        .steps {
          margin-bottom: 32px;
          font-weight: 600;
          font-size: 12px;
          line-height: 20px;
          color: #777e91;
        }
        .bottom_con {
          text-align: center;
          .title {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
            text-align: center;
            color: #fcfcfd;
          }
          .sub_title {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #f4f5f6;
          }
        }
        &:nth-child(1) {
          .top_img {
            &::before {
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 12px;
              border: 2px solid #b1b5c4;
              position: absolute;
              right: -30px;
              top: 50%;
              transform: translateY(-50%);
            }
            &::after {
              content: "";
              width: 115px;
              border-bottom: 1px dashed #b1b5c4;
              height: 1px;
              position: absolute;
              right: -145px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        &:nth-child(2) {
          position: relative;
          .top_img {
            &::before {
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 12px;
              border: 2px solid #b1b5c4;
              position: absolute;
              left: -22px;
              top: 50%;
              transform: translateY(-50%);
            }
            &::after {
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 12px;
              border: 2px solid #b1b5c4;
              position: absolute;
              right: -23px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          &::after {
            content: "";
            width: 115px;
            border-bottom: 1px dashed #b1b5c4;
            height: 1px;
            position: absolute;
            top: 49px;
            right: -54px;
          }
        }
        &:nth-child(3) {
          position: relative;
          .top_img {
            &::before {
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 12px;
              border: 2px solid #b1b5c4;
              position: absolute;
              left: -27px;
              top: 50%;
              transform: translateY(-50%);
            }
            &::after {
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 12px;
              border: 2px solid #b1b5c4;
              position: absolute;
              right: -23px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          &::after {
            content: "";
            width: 115px;
            border-bottom: 1px dashed #b1b5c4;
            height: 1px;
            position: absolute;
            top: 49px;
            right: -54px;
          }
        }
        &:nth-child(4) {
          .top_img {
            &::before {
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 12px;
              border: 2px solid #b1b5c4;
              position: absolute;
              left: -27px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
.isMobile {
  .block1 {
    background: url("../../assets/images/phone_topbg.png") no-repeat center;
    background-size: cover;
    min-height: auto;
    .box_contianer {
      width: 100%;
      padding: 32px;
      margin-top: 56px;
      box-sizing: border-box;
      .left {
        .mbtc-txt {
          font-size: 46px;
        }
        .bottom_arrow {
          display: none;
        }
      }
    }
  }
  .block2 {
    width: 100%;
    margin-top: 32px;
    padding: 32px;
    box-sizing: border-box;
    .top_container {
      .left_box {
        .title {
          font-size: 32px;
        }
        .content {
          font-size: 16px;
          color: #777e91;
          margin-top: 20px;
          width: 100%;
        }
      }
      .right_box {
        display: none;
      }
    }
    .bottom_container {
      width: 100%;
      ul {
        width: 100%;
        flex-direction: column;
        li {
          width: 100%;
          background: none;
          padding: 0;
          margin-bottom: 52px;
          img {
            width: 100%;
            height: auto;
          }
          .buy_box {
            width: 100%;
            margin-top: 23px;
            button {
              width: 100%;
            }
          }
        }
      }
    }
    .phone_right_box {
      width: 100%;
      height: 48px;
      border-radius: 50px;
      border: 2px solid #fcfcfd;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fcfcfd;
      font-size: 16px;
    }
  }
  .block3 {
    img {
      width: 100%;
    }
  }

  .other_box {
    .bottom_container {
      padding: 16px;
      border: none;
      .top_word {
        .first {
          font-weight: 500;
        }
      }
      .center_content {
        background: none;
        padding: 0;
        .add_phone_bg {
          background: #23262f;
          border-radius: 16px;
          padding: 40px 0;
        }
        .second_line {
          flex-direction: column;
          .left {
            &:first-child {
              margin: 0;
              margin-bottom: 16px;
            }
          }
        }
        .third_line {
          width: 100%;
          box-sizing: border-box;
          .content_box {
            flex-direction: column;
            background: none;
            padding: 0;
            width: 100%;
            .left_cont {
              width: 100%;
              .top_con {
                padding: 16px;
                width: 100%;
                border: 2px solid #353945;
                border-radius: 15px;
                box-sizing: border-box;
                .num {
                  font-size: 14px;
                }
                .name {
                  font-size: 14px;
                  margin-left: 10px;
                }
              }
            }
            .right_cont {
              width: 100%;
              margin-top: 16px;
              height: 48px;
            }
          }
        }
        .forth_line {
          padding: 0;
          padding-top: 32px;
          .add_phone_bg {
            padding: 32px;
            ul {
              li {
                width: 100%;
              }
            }
          }
        }
      }
      .action_conatiner {
        flex-direction: column;
        .waller_box {
          width: 100%;
          background: none;
          width: 100%;
          height: 48px;
          border-radius: 50px;
          border: 2px solid #fcfcfd;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fcfcfd;
          font-size: 16px;
        }
        .confirm_box {
          width: 100%;
          margin-top: 32px;
        }
      }
      .foot_cont {
        padding-top: 0;
        .contanier {
          padding-top: 32px;
          .title {
            font-weight: 700;
            font-size: 12px;
            margin-bottom: 23px;
          }
        }
      }
    }
  }
  .block4 {
    padding: 0 32px;
    box-sizing: border-box;
    .big_title {
      font-size: 40px;
    }
    .phone_content_box {
      width: 100%;
      ul {
        width: 100%;
        margin-top: 16px;
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 16px;
          .steps {
            font-size: 12px;
            color: #777e91;
          }
          .bottom_con {
            font-size: 16px;
            color: #fcfcfd;
            margin-top: 8px;
          }
        }
      }
    }
  }
  .community {
    .community_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .left_community_box {
        margin-top: 20px;
      }
      .right_community_box {
        width: 378px;
        height: 540px;
        margin-top: 20px;
        background: url("../../assets/images/phone_coright.png") no-repeat center;
        background-size: cover;
        .right_community_conent {
          background: url("../../assets/images/phone_right_content.png") no-repeat center;
          background-size: contain;
          .content_container_box {
            padding-left: 0;
            .content_container {
              margin-bottom: 50px;
              .bottom_content {
                display: block;
                .left {
                  display: flex;
                  .left_img {
                    width: 198.83px;
                    height: 158px;
                    background: url("../../assets/images/right_content.png") no-repeat center;
                    background-size: cover;
                    margin-left: 20px;
                    margin-top: -44px;
                  }
                }
                .right {
                  margin-left: 0;
                  margin-top: 10px;
                  .right_text {
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .zfuel {
    .word_box {
      width: 278px;
      justify-content: space-around;
    }
  }
}
